nav {
    background-color: #229799;
}

#overview {
    background-color: #48CFCB;
    margin: 0;
}

#education, #skills , #workex{
    background-color: #F5F5F5;
}

.feature {
    width: 300px;
}

#myCarousel {
    /* margin-left: 100px;
    margin-right: 200px; */
/*     width: 100vh; */
    justify-content: center;
}
