.top, #footer{
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background: linear-gradient(-45deg, #9900ff, #562ef4, #ed1010, #fff52d);*/
    background: linear-gradient(-45deg, #FB773C, #EB3678, #4F1787, #180161);
    color: #F5F5F5;

	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
} 

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 


#profile-pic {
    border: 6px solid #F5F5F5;
    border-radius: 50%;
}

.feature {
    width: 300px;
}

.carousel-inner {
    /* display: flex; */
    justify-content: center;
}

#myCarousel {
    flex:3;
}

h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
.top {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* height: 100vh; */
}

body {
    background-image: url("../images/base.jpg");
    background-attachment: fixed;
}

.card {
    background-color: transparent;
    border: 0px;
}

.container {
    overflow: hidden;
}

.hidden {
    opacity: 0;
    filter: blue(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#contactme button {
    color: #F5F5F5; 
}
